h1 {
  transition-duration: 0.3s;
  color: blue
}
h1:hover {
  letter-spacing: 5px;
  color: red;
}

#container {
  padding: 20px;
}

.char-container {
  display: flex;
  font-family: monospace;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
.char {
}

.bar {
  margin-left: 30px;
  height: 20px;
  background-color: #222222;
  transition-duration: 0.3s;
}
